<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Kart Galerisi</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
  <script type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>
</head>
<body>
  <sl-tab-group>
    <sl-tab slot="nav" panel="general">AnaSayfa</sl-tab>
    <sl-tab slot="nav" panel="blog">Blog</sl-tab>
    <sl-tab-panel name="general">
      <h1>Lorem ipsum</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia aperiam sequi provident aliquam, voluptatum hic cum facere. Autem deleniti accusantium vitae voluptates? Aperiam ab, odit iure molestiae labore error cumque.</p>
    </sl-tab-panel>
    <sl-tab-panel name="blog">  
      <div class="card-container" id="cardContainer">
        <% cards.forEach(card => { %>
          <div class="card" data-isim="<%= card.isim.toLowerCase() %>">
            <h2><%= card.isim %></h2>
            <p><%= card.aciklama %></p>
            <a class="button" href="/card/<%= slugify(card.isim) %>">Görüntüle</a>
          </div>
        <% }); %>
      </div>
  </sl-tab-panel>
  </sl-tab-group>
</body>
</html>